label {
	margin: 25px 10px 0px 0px;
	font-family: 'Josefin Sans';
}

.info {
    font-family: 'Josefin Sans';
    width: 200px;
    font-size: 15px;
    padding: 1px;
    color: black;
}

.calendar-button  {
    font-family: 'Josefin Sans';
    font-size: 15px;
    color: black;
    display: block;
    padding: 10px 10px 0px 10px;
}

.submit {
    font-family: 'Josefin Sans';
}

a.buttontwo {
	font-family: 'Josefin Sans';
	color: black;
	font-size: 15px;
	font-weight: 700;
	border: none;
}

.buttontwo:hover {
    text-decoration: underline;
    color: black;
}

.star {
    font-size: 6px;
    top: -2px;
    padding: 0 5px;
}


textarea {
	width: 200px;
	height: 50px;
}

.ui-dialog .ui-dialog-title {
	font-family: 'Josefin Sans';
}

#dialog p {
	font-family: 'Josefin Sans';
}

#dialog title {
    color: red;
}

.form-inline {
    padding: 10px;
}

.column {
    float: left;
    margin: 0px 35px 0px 0px;
}

.nav-pills>li>a {
    color: black;
}

nav {
    width: 265px;
    margin: 0 auto;
    color: black;
    text-color: black;
    font-family: 'Josefin Sans';
    cursor: auto;
}

header h1  {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 50px;
}

.active {
    background-color: #E6E6E6;
}

.see_current_events {
    width: 500px;
    margin: auto;
}

hr {
    background: #9E9E9E;
    height: 1px;
    border: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
    background-color: #B0BCDE;
    color: black;
}

#eventtitlebold {
    font-size: 20px;
    font-weight: bolder;
}
