label {
	display: block;
	margin: 25px 10px 0px 10px;
}

textarea {
	width: 200px;
	height: 50px;
}

.ui-dialog .ui-dialog-title {
	font-family: 'Josefin Sans';
}

#dialog p {
	font-family: 'Josefin Sans';
}

