<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="../static/css/todostyles.css">
       <link rel="stylesheet" href="../static/css/clndr.css">
    </head>
    <body>
    	<div class="cal1">
    		<div id="calendar"></div>
    	</div>
    	<script src="../static/js/underscore.js"></script>
    	<script src="../static/js/moment.js"></script>
    	<script src="../static/js/jquery.js"></script>
    	<script src="../static/js/clndr.js"></script>
        <script>$('#calendar').clndr();</script>
    </body>
</html>
